[Bb]in/
[Oo]bj/
out/
appsettings.Development.json
appsettings.Local.json
*.user
*.userosscache
*.sln.doccache
.vs/
.vscode/
.history/
*.suo
*.user
*.userosscache
*.sln.doccache
.ionide/
LumenGuard.CryptoEngine/obj/
LumenGuard.CryptoEngine/bin/
*.o
*.a
*.so
*.out
*.db
*.db-shm
*.db-wal
.DS_Store
Thumbs.db
secrets.json
*.pem
*.pfx
*.key